{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "react": {
      "version": "16.12"
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "react/prop-types": "off"
  }
}